*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.overall{
    padding: 10px;
    width: 100%;
    height: 100vh;
    background-color: rgb(230, 224, 224);
    text-align: center;
}
.content{
    width: 70%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
    position: relative;
    align-items: center;
}
.add-user{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.add-user>input{
    width: 400px;
    height: 40px;
    padding: 10px;
    outline: none;
    border: 1px solid gray;
    border-radius: 4px;
}
.add-user>button{
    width: 200px;
    border: none;
    border-radius: 5px;
    background-color: green;
    color: white;
    font-size: 19px;
}
.table-content{
    width: 100%;
}
table{
    width: 100%;
    margin-top: 20px;
}
table,tr,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}
th{
    padding: 10px 5px;
}
td{
    padding: 10px 5px;
}
td>button{
    width: 80%;
    height: 30px;
    border: none;
    color: #fff;
    border-radius: 5px;
    font-size: 17px;
}
.edit{
    background-color: green;
}
.remove{
    background-color: red;
}
.add-new{
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: gray;
    margin: auto;
    padding: 20px;
    gap: 10px;
    position: absolute;
    top: -450px;
}
.add-new>div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.add-new>div:first-child{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.add-new>div:first-child>span{
    color: antiquewhite;
    font-size: 20px;
    cursor: pointer;
}
.add-new>div>input{
    height: 35px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px;
}
.add-new>div>label{
    align-self:flex-start;
}
.add-new>div>button{
    width: 190px;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    margin-top: 20px;
}
.show-addNew{
    top: 20px;
}
button{
    cursor: pointer;
}

/* update todo */
.update-new{
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: gray;
    margin: auto;
    padding: 20px;
    gap: 10px;
    position: absolute;
    top: -450px;
}
.update-new>div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.update-new>div:first-child{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.update-new>div:first-child>span{
    color: antiquewhite;
    font-size: 20px;
    cursor: pointer;
}
.update-new>div>input{
    height: 35px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px;
}
.update-new>div>label{
    align-self:flex-start;
}
.update-new>div>button{
    width: 190px;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    margin-top: 20px;
}
.show-update{
    top: 20px;
}
button{
    cursor: pointer;
}

.head{
    margin-left: 10px;
    word-spacing: 5px;
    letter-spacing: 0.5px;
}
.add-user>button{
    padding: 6px 10px;
}

@media screen and (max-width:542px) {
    .overall{
        padding: 0px;
    }
    .content{
        width: 100%;
        padding: 5px;
    }
    .add-user>button{
        width: 100px;
        height: 39px;
        border-radius: 8px;
        font-size: 12px;
    }
    th{
        padding: 10px 2px;
    }
    td{
        padding: 8px 2px;
    }
    td>button{
        width: 100%;
        height: 27px;
        font-size: 12px;
    }
    .add-new{
        width: 90%;
        margin: auto;
        padding: 10px;
        top: -450px;
    }
    .add-new>div>button{
        width: 80%;
        margin: auto;
        margin-top: 20px;
        background-color: green;
        color: white;
    }
    .show-addNew{
        top: 20px;
    }

    .update-new{
        width: 95%;
        background-color: gray;
        margin: auto;
        padding: 10px;
        top: -450px;
    }
    .update-new>div{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .update-new>div>button{
        width: 80%;
       margin: auto;
       margin-top: 20px;
    }
    .show-update{
        top: 20px;
    }
    .head{
        font-size: 15px;
    }
}

.update-new>div>button{
    background-color: green;
    color: white;
}